spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/my-springbatch?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: 1234

  # JPA
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true

  # batch
  batch:
    jdbc:
      initialize-schema: never

logging:
  level:
     org:
       hibernate:
         SQL: debug
         type: trace
